.swiper-pagination-bullet-active {
  background-color: #faab7d !important;
  width: 10px !important;
  height: 10px !important;

}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  border: 1px solid black !important;
}